APP_NAME="Quinos - Cloudbeds"
APP_BASE_PATH=""
APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_arna
DB_USERNAME=root
DB_PASSWORD=Mysql123.
DB_CHARSET=utf8

CLOUDBEDS_BASE_URL=https://api.cloudbeds.com/api/v1.3
CLOUDBEDS_RESERVATION_STATUS=checked_in
